.indice {
    background-color: aqua;
}
.pizza {
    background-color: aquamarine;
    color: brown;
}
.cokie{
    background-color: bisque;
    color: aqua;
}
.lasagna{
    background-color: cornflowerblue;
    color:crimson;
}